@media (min-width: 1200px) {
	.menu-item {
		margin-left: 0px !important;
	}
}
.controls > textarea, .controls > input[type="text"], .controls > input[type="password"], 
.controls > input[type="datetime"], .controls > input[type="datetime-local"], 
.controls > input[type="date"], .controls > input[type="month"], .controls > input[type="time"], 
.controls > input[type="week"], .controls > input[type="number"], .controls > input[type="email"], 
.controls > input[type="url"], .controls > input[type="search"], .controls > input[type="tel"], 
.controls > input[type="color"], .uneditable-input {
	line-height: 20px;
	padding: 4px 6px;
	height: 30px !important;
	border-radius: 4px;
	width: 206px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: rgb(250, 255, 189);
}

.alert .close {
	right: 0px !important;
}
.menu-con {
	margin-left: 113px !important;
	float: none !important;
}
.peoduct-bag {
	padding: 0px !important;
	position: relative;
}
.peoduct-bag button.bag-btn {
	background: none repeat scroll 0 0 #000 !important;
	color: #fff !important;
	display: block !important;
	float: left !important;
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 13px !important;
	padding: 8px 15px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	width: auto !important;
	font-weight: bold !important;
	border: 1px solid #000 !important;

}
#add_to_basket_form button.bag-btn {

	position: absolute;
	top: 25px;
	left: 90px;
}
.peoduct-bag input[type='number']{
	width: 80px;
background-color: #fff;
border: 1px solid #dfdfdf;
border-radius: 0;
box-shadow: none;
box-sizing: border-box;
color: #000;
font-size: 12px;
font-weight: 400;
line-height: normal;
min-height: 30px;
transition: border 200ms ease 0s;
}
.peoduct-bag .control-group {
	/*display: inline-block;*/
	width: 100px;

}
.ac-container label {
	width: 95%;
}
#thumbs {
	margin-top: 0px;
}


/** Product category page **/
.product-con {
    padding-top: 10px;
}

.product-con .product{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.product-con .product:nth-child(4n){
	border-right: none;
	margin-top: -1px;
}

.product-con .product .info {
	/*text-align: center;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#pro-list .brand {
	color: rgb(0, 0, 0);
	cursor: auto;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px;
}

#pro-list .title {
	color: rgb(0, 0, 0);
	cursor: auto;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px;
}
#pro-list .price {
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	height: auto;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	white-space: normal;
	padding: 0px !important;
	/*width: auto;*/
}
#pro-list .leftborder {
	border-left: 1px solid #000;
}
/** End of product category page **/

.colors .color img {
	display: block;
	margin: 1px;
	width: 11px;
	height: 10px;
}
.color {
	height: auto;
	width: auto;
	margin: 0px 2px;
	border: none;
}
.selected {
	border: 1px solid #dd641d;
}
.colors {
	padding: 2px 0px;
}

.viwepage {
    clear: both;
    float: right;
    margin: 15px 0px;
    overflow: hidden;
    width: 250px;
}
