{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}

{% block product %}

    <div class="product col-md-3">
        <div class="product-img thumbnail">
            {% with image=product.primary_image %}
                {% thumbnail image.original "x155" upscale=False as thumb %}
                <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class=""></a>
                {% endthumbnail %}
            {% endwith %}
            
            <div class="quickview">
                <ul>
                <li><a href="{{ product.get_absolute_url }}" class="quicklook">quicklook</a></li>
                 
                </ul>
            </div>
        </div>
        <div class="pro-text">
        {% purchase_info_for_product request product as session %}
            <h2>{{ product.get_title|truncatewords:4 }}</h2>
            <p>{% if product.description %} {{ product.description|safe|truncatewords:10 }} {% endif %}
            {% include "catalogue/partials/stock_record.html" %}</p>
            <span>
                {% iffeature "reviews" %}
                <p class="star-rating {{ product.rating|as_stars }}">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                </p>
                {% endiffeature %}
            </span>
            <a class="morecolor" href="#">More Colors</a>
            
            {% if not product.is_group %}
                {% include "verecom/catalogue/partials/add_to_basket_form_compact.html" %}
            {% endif %}
         
        </div>
    </div>

{% endblock %}
