{% load staticfiles %}
{% load i18n %}
<header id="header">
	<div class="container">
      <!-- Start Top Link  -->
        <div class="toplink">
        	<div class="logo">
            	<a href="#"><img src="{% static 'verecom/images/logo.jpg' %}" alt="Logo"></a>
            </div>
            
            <div class="top-toolbar top-toolbar-mobile">
            	<ul>
                	<li><span>Welcome, Sign In</span></li>
                 </ul>
             </div>
            
            <div id="toolbar" class="top-toolbar top-toolbar-desktop">
            	<ul>
                	
                    {% if user.is_authenticated %}
                        <li>
                            {% if num_unread_notifications > 0 %}
                                {# If user has new notifications - we change account link to go to inbox #}
                                <a href="{% url 'customer:notifications-inbox' %}">
                                    <i class="icon-user"></i>
                                    {% trans "Account" %}
                                    <span class="label label-important">{{ num_unread_notifications }}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                            {% endif %}
                        </li>
                        {% if user.is_staff or perms.partner.dashboard_access %}
                            <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                        {% endif %}
                        <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> <span>Welcome, Sign In</span></a></li>
                    {% endif %}


                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Shop With Confidence</a></li>
                    <li><a href="#"class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Saks Bag (0)</a>
                      
                      
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><div id="SaksBagOverlay">
                    <div class="inner">
                     <div class="title-body">
                    	<h2>1 ITEMS IN YOUR BAG</h2>
                       <span class="close-icon">Close <img src="{% static 'verecom/images/ff-overlay-close.png' %}" width="10" height="12" border="0" alt="Close"></span>
                       </div>
                     <div class="bag-contnet">
                       	
                        <div class="link-con"><a href="#" class="viewmybag">View My Bag</a>
                        <a href="#" class="checkout">Check Out</a>
                        </div>
                        
                        <div class="bag-tabe-con">
                        
                        	<table>
                            	<tr>
                                	<td><img src="{% static 'verecom/images/0479552339973_247x329.jpg' %}" alt=""></td>
                                    <td>
                                    	<p>Not Rational<br>
                                        Kelly Snake-Embossed<br>
                                        Leather Baby Bag</p>
                                        
                                        <p>Size:<br>
                                        COLOR:SNAKE<br>
                                        $880.00</p>
                                    </td>
                                    <td>
                                    	<p>In Stock</p>
                                    </td>
                                </tr>
                           
                            </table>
                        </div>
                        
                        
                        
                       </div>
                       
                       <div class="title-body">
                    	<h2>1 ITEMS IN YOUR BAG</h2>
                       <span>Estimated Total: $880.00</span>
                       </div>
                       <div class="link-con link-con-last"><a href="#" class="viewmybag">View My Bag</a>
                        <a href="#" class="checkout">Check Out</a>
                        
                        


                        </div>
                        
                    </div>
                </div></li>
                      </ul>
                    </li>
                     
                </ul>         
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      <!-- End Top Link -->      
        <!-- Start  PROMOTIONS FOR Tablet View  --> 
        <div class="search-marketing search-marketing-tablet">
           <div class="tag">
             <!-- PROMOTIONS -->	
            <ul style="position: relative; overflow: hidden;" id="js-promotion-banners-one" class="promotion-banners">
            <li class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; visibility: hidden; display: block;" data-recipe="" data-test="" data-disclaimer="FreeShippingDetailsPopUp1" data-countries="US">
              <p style="visibility: hidden;">
            <strong style="visibility: hidden;">FREE SHIPPING </strong>every day, every order<br style="visibility: hidden;">
            Use Code <strong style="visibility: hidden;">FREESHIP</strong> <u style="visibility: hidden;">Details</u></p>
            </li>             
            <li class="cycle-slide" style="position: absolute; top: 46px; left: 0px; z-index: 99; opacity: 1; display: none;" data-recipe="" data-test="" data-disclaimer="FreeShippingDetailsPopUp1" data-countries="US">
              <p>
            <strong>FREE SHIPPING </strong>every day, every order<br>
            Use Code <strong>FREESHIP</strong> <u>Details</u></p>
            </li>
            <li class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 98; display: block; opacity: 1;" data-recipe="" data-test="" data-disclaimer="" data-countries="US">
            <p>
            {% if not user.is_authenticated %}
            <strong>EMAIL-ONLY SALES </strong> Register now to stay in the loop.   <a href="{% url 'customer:register' %}" onclick="">Sign Up</a></p>
            {% endif %}
            
            </li>
            <li class="cycle-slide" style="position: absolute; top: 46px; left: 0px; z-index: 97; display: none; opacity: 1;" data-recipe="" data-test="" data-disclaimer="EGC2000PopUpDetails" data-countries="US">
              <p>
            <strong>WIN A $2,000 SAKS GIFT CARD</strong> Sign up for Saks Text Alerts <strong>TEXT SAKSGC</strong> to <strong>75283</strong> <u>Details</u></p>
            </li>
            </ul>
            <!-- END PROMOTIONS -->
            
            <div id="saksBody1">
            <div class="promotion-detail-container" id="js-promotion-detail-container-one">
            <!-- START FREE SHIPPING POPUP -->
            
            
            <article id="FreeShippingDetailsPopUp1" class="promotion-details is-hidden is-promotion-details-normal">
            <a class="promotion-details-close-button" href="#">
              <span class="font-icon font-icon-close"></span>
            </a>
            
            
            <div class="promotion-details-heading">
              <h1 style="text-align: center;" class="promotion-details-title">FREE SHIPPING* every day, every order</h1>
              <p style="text-align: center;" class="promotion-details-cutoff">Use Code <strong>FREESHIP</strong></p>
            </div>
            
            <div class="promotion-details-disclaimer">
              <p>
                  *Free Shipping offer valid with any purchase. Limit of five promo 
            codes per order. Offer valid at saks.com only. To redeem, select 
            standard shipping and enter promotional code: FREESHIP. Valid on 
            shipments to US addresses only. Not valid on international shipments. 
            Offer may be used when shipping to multiple addresses. Offer not valid 
            on Rush, Next Business Day, or Saturday delivery orders. Not valid in 
            Saks Fifth Avenue stores, Saks Fifth Avenue OFF 5TH stores, and 
            saksoff5th.com. Not valid on standalone physical or promotional Gift 
            Card shipments. For Drop Ship items, offer only applies to items 
            eligible for standard shipping. No adjustments to prior purchases. This 
            offer is non-transferable. Saks' return policy still applies to items 
            returned under this offer.</p>
              <p>
                  <a style="text-decoration: underline;" href="#" >Click here</a>&nbsp;for additional shipping &amp; tax information.</p>
            </div>
            </article>
             
            <article id="EGC2000PopUpDetails1" class="promotion-details is-hidden is-promotion-details-normal">
            <a class="promotion-details-close-button" href="#" >
              <span class="font-icon font-icon-close"></span>
            </a>
            
            <div class="promotion-details-heading">
            <p style="text-align: center;" class="promotion-details-cutoff">You Could </p>
              <h1 style="text-align: center;" class="promotion-details-title">WIN A $2,000 SAKS GIFT CARD* </h1>
            
            
              <p style="text-align: center;" class="promotion-details-cutoff">WHEN YOU TEXT <strong>SAKSGC</strong> TO <strong>75283</strong> &amp; SIGN UP FOR SAKS TEXT ALERTS!<br><br>
            Get trends, sales, store events &amp; more delivered to your phone.<br>
            </p>
            </div>
            
            
            <div class="promotion-details-disclaimer">
              <p>
                  *By texting SAKSGC to 75283, you are entering the Saks Text Alerts 
            Gift Card Sweepstakes and agree to receive up to 3 autodialed marketing 
            text messages per week delivered to the phone number provided at opt-in.
            Text HELP for info. Text STOP to cancel. Consent not required to 
            purchase goods or services. Message and data rates may apply. Visit 
            saksfifthavenue.com/policies for privacy policy and more information. </p>
            
            <p><strong>No purchase/text necessary to enter or win.</strong> Open to legal residents of the 50 U.S. (+DC) age 18 or older at time of entry. Void where prohibited. See Official Rules <a href="#" style="color:#000">here</a> for details including alternate entry method. Ends: 11:59:59 PM ET on 10/26/14. </p>
            </div>
            </article>
            
           
            
            </div>
            
             
             
            </div>
            </div>
           <div id="site-search">
            <form method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
            {{ search_form.q }}
            <input type="submit" value="{% trans "Search" %}" class="btn" />
            </form>
                        
            </div>
        </div>
         <!-- End  PROMOTIONS FOR Tablet View  --> 
        
         <!-- Start  Main Menu FOR Desktop View  --> 
        <div class="menu-con">
         <ul class="menu no-gs">
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">WHAT'S NEW</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">DESIGNERS</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">BOUTIQUES</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">CLOTHING</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">SHOES</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">BAGS</a>
            </li> 
            <li id="WomensApparelNavMenu" class="menu-item span-2">
                <a href="#">ACCESSORIES</a>
            </li> 
            <li id="ShopByDesignerNavMenu" class="menu-item span-3">
                    
                <a href="#">SALE</a>
                
                                
            </li> 
                      
                        
            </ul>
        </div>
       <!-- End  Main Menu FOR Desktop View  --> 
        <div class="clearfix"></div>
        
        <!-- Start PROMOTIONS and SEARCH   FOR Desktop View  --> 
        <div class="search-marketing search-marketing-desktop">
           <div class="tag">
             <!-- PROMOTIONS -->	
            <ul style="position: relative; overflow: hidden;" id="js-promotion-banners-two" class="promotion-banners">
            <li class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; visibility: hidden; display: block;" data-recipe="" data-test="" data-disclaimer="" data-countries="US">
              <p style="visibility: hidden;">
            <strong style="visibility: hidden;">FREE SHIPPING </strong>every day, every order<br style="visibility: hidden;">
            Use Code <strong style="visibility: hidden;">FREESHIP</strong> <u style="visibility: hidden;">Details</u></p>
            </li>             
            <li class="cycle-slide" style="position: absolute; top: 46px; left: 0px; z-index: 99; opacity: 1; display: none;" data-recipe="" data-test="" data-disclaimer="FreeShippingDetailsPopUp" data-countries="US">
              <p>
            <strong>FREE SHIPPING </strong>every day, every order<br>
            Use Code <strong>FREESHIP</strong> <u>Details</u></p>
            </li>
            <li class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 98; display: block; opacity: 1;" data-recipe="" data-test="" data-disclaimer="" data-countries="US">
            {% if not user.is_authenticated %}
            <p>
            <strong>EMAIL-ONLY SALES </strong> Register now to stay in the loop.   <a href="{% url 'customer:register' %}"  >Sign Up</a></p>
            {% endif %}
            
            </li>
            <li class="cycle-slide" style="position: absolute; top: 46px; left: 0px; z-index: 97; display: none; opacity: 1;" data-recipe="" data-test="" data-disclaimer="EGC2000PopUpDetails" data-countries="US">
              <p>
            <strong>WIN A $2,000 SAKS GIFT CARD</strong> Sign up for Saks Text Alerts <strong>TEXT SAKSGC</strong> to <strong>75283</strong> <u>Details</u></p>
            </li>
            </ul>
            <!-- END PROMOTIONS -->
            
            <div id="saksBody2">
            <div class="promotion-detail-container" id="js-promotion-detail-container-two">
            <!-- START FREE SHIPPING POPUP -->
            
            
            <article id="FreeShippingDetailsPopUp" class="promotion-details is-hidden is-promotion-details-normal">
            <a class="promotion-details-close-button" href="#">
              <span class="font-icon font-icon-close"></span>
            </a>
            
            
            <div class="promotion-details-heading">
              <h1 style="text-align: center;" class="promotion-details-title">FREE SHIPPING* every day, every order</h1>
              <p style="text-align: center;" class="promotion-details-cutoff">Use Code <strong>FREESHIP</strong></p>
            </div>
            
            <div class="promotion-details-disclaimer">
              <p>
                  *Free Shipping offer valid with any purchase. Limit of five promo 
            codes per order. Offer valid at saks.com only. To redeem, select 
            standard shipping and enter promotional code: FREESHIP. Valid on 
            shipments to US addresses only. Not valid on international shipments. 
            Offer may be used when shipping to multiple addresses. Offer not valid 
            on Rush, Next Business Day, or Saturday delivery orders. Not valid in 
            Saks Fifth Avenue stores, Saks Fifth Avenue OFF 5TH stores, and 
            saksoff5th.com. Not valid on standalone physical or promotional Gift 
            Card shipments. For Drop Ship items, offer only applies to items 
            eligible for standard shipping. No adjustments to prior purchases. This 


            offer is non-transferable. Saks' return policy still applies to items 
            returned under this offer.</p>
              <p>
                  <a style="text-decoration: underline;" href="#" >Click here</a>&nbsp;for additional shipping &amp; tax information.</p>
            </div>
            </article>
             
            <article id="EGC2000PopUpDetails2" class="promotion-details is-hidden is-promotion-details-normal">
            <a class="promotion-details-close-button" href="#" >
              <span class="font-icon font-icon-close"></span>
            </a>
            
            <div class="promotion-details-heading">
            <p style="text-align: center;" class="promotion-details-cutoff">You Could </p>
              <h1 style="text-align: center;" class="promotion-details-title">WIN A $2,000 SAKS GIFT CARD* </h1>
            
            
              <p style="text-align: center;" class="promotion-details-cutoff">WHEN YOU TEXT <strong>SAKSGC</strong> TO <strong>75283</strong> &amp; SIGN UP FOR SAKS TEXT ALERTS!<br><br>
            Get trends, sales, store events &amp; more delivered to your phone.<br>
            </p>
            </div>
            
            
            <div class="promotion-details-disclaimer">
              <p>
                  *By texting SAKSGC to 75283, you are entering the Saks Text Alerts 
            Gift Card Sweepstakes and agree to receive up to 3 autodialed marketing 
            text messages per week delivered to the phone number provided at opt-in.
            Text HELP for info. Text STOP to cancel. Consent not required to 
            purchase goods or services. Message and data rates may apply. Visit 
            saksfifthavenue.com/policies for privacy policy and more information. </p>
            
            <p><strong>No purchase/text necessary to enter or win.</strong> Open to legal residents of the 50 U.S. (+DC) age 18 or older at time of entry. Void where prohibited. See Official Rules <a   href="#"   style="color:#000">here</a> for details including alternate entry method. Ends: 11:59:59 PM ET on 10/26/14. </p>
            </div>
            </article>
            
           
            
            </div>
            
            <div id="allDhtmlPopups"></div>
             
            </div>
            </div>
           <div id="site-search">
        
                        <form method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
                        
                        <div class="search-box">
                        {{ search_form.q }}
                              
                                <button name="submit-search" type="submit">search</button>
                        </div>
              
                        </form>
                    </div>
        </div>
        <!-- End  PROMOTIONS and SEARCH   FOR Desktop View  --> 
        
      <!-- Start Main menu for Mobile  View  -->   
        <div class="navbar navbar-default mobile-nav" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Saksfifthavenue</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Designers <span class="caret"></span></a>
                        </li>
                        <li class="sub-menu-column last-child">
                            <b>FEATURED DESIGNERS</b>            
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women's Apparel <span class="caret"></span></a>
                        
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shoes &amp; Handbags <span class="caret"></span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jewelry &amp; Accessories <span class="caret"></span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beauty <span class="caret"></span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <span class="caret"></span></a>
                        
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids <span class="caret"></span></a>
                        
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></a>
                        
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sale <span class="caret"></span></a>
                        
                        </li>
                    </ul>
             
                </div><!--/.nav-collapse -->
            </div>
        </div><!--/.container-fluid -->
    </div>
</header>