<footer id="footer">
     <div class="container">
            <div class="foot-toparea">
            <h2>We’re Dedicated to Our Customers 24/7</h2>
			<ul>
				<li><a href="#">Customer Service</a></li>
				<li><b>1.877.551.7257</b></li>
            
                <li><a href="#">Email</a></li>
                <li><a href="#">Chat</a></li>
            	 
			</ul>
            </div>
            
            <div class="foot-con">
            
            	<div class="foot-link">
                	
                    <h2>Shop Saks</h2>
                    
                        <ul>
                        <li><a href="#">EDITION</a></li>
                        <li><a href="#">The Trendcaster</a></li>
                        <li><a href="#">Fall Fashion: A Designer Series</a></li>
                        <li><a href="#">Collection: A Contemporary Series</a></li>
                        <li><a href="#">Catalogs</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        </ul>


                </div>
                <div class="foot-link">
                	
                    <h2> Stores & Corporate</h2>
                    
                        <ul>
                        <li><a href="#">Store Locations & Events</a></li>
                        <li><a href="#">Bridal Trunk Shows</a></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Policies</a></li>
                         
                        </ul>

    
                </div>
                <div class="foot-link">
                	
                    <h2>Shipping & Returns</h2>
                    
                        <ul>
                        <li><a href="#">Domestic</a></li>
                        <li><a href="#">International</a></li>
                        <li><a href="#">Order Status & Tracking</a></li>
                        </ul>


                </div>
                <div class="foot-link">
                	
                    <h2>SaksFirst Card</h2>
                    
                        <ul>
                        <li><a href="#">SaksFirst</a></li>
                        <li><a href="#">Pay Bills & Manage</a></li>
                        <li><a href="#">Apply</a></li>
                        <li><a href="#">Upgrade to the Saks MasterCard</a></li>
                        
                        </ul>


                </div>
            </div>
            
            <div class="footer-social">
               <ul>
                         <li class="icon font-icon-pov"><a href="#"></a></li>
                         <li class="icon font-icon-facebook"><a href="#"></a></li>
                         <li class="icon font-icon-twitter"><a href="#"></a></li>
                         <li class="icon font-icon-pinterest"><a href="#"></a></li>
                         <li class="icon font-icon-tumblr"><a href="#"></a></li>
                         <li class="icon font-icon-instagram"><a href="#"></a></li>
                         <li class="icon font-icon-youtube"><a href="#"></a></li>
                    </ul>
                 
            </div>
            
            <div class="copyright">
			<p>&copy; 2014, Saks Fifth Avenue &nbsp;&nbsp;•&nbsp;&nbsp; <a href="#">CA Transparency in Supply Chains Act</a></p>
		</div>
      </div>
  </footer>